[submodule "backend"]
	path = backend
	url = https://github.com/ashakansayyad/Pro_Manager_App_Backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/ashakansayyad/Pro_Manger_Frontend
